body {
  background-color: orange;
  margin: 0;
  padding: 0;
}

header {
  border-radius: 30px;
  padding: 20px;
  margin-left: 27%;
  margin-right: 27%;
  margin-top: 50px;
 
}

#mainTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  width: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: orange;
  margin-right: 25%;
  margin-left: 25%;
}

/* .dark-theme {
 
  background-color: #00008b;
  color: #ffffff;
}

.light-theme {
 
  border: 1px solid blue;
  background-color: #f5f5f5;
  color: #00008b;
} */

a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 30px;
  background-color: rgb(49, 14, 247);
  color: black;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
}

#btnLoc {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }

#btn {
  background-color: green;
  border-radius: 30px;
  font-size: 35px;
}

footer {
  margin-top: 220px;
  /* padding: 20px; */
  text-align: center;
  color: red;
}
